language: python
python: 2.7
sudo: false
env:
- PLONE_VERSION=4.2.x
- PLONE_VERSION=4.3.x
- PLONE_VERSION=5.x
cache:
  pip: true
  directories:
  - $HOME/buildout-cache
before_install:
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - mkdir $HOME/.buildout
  - echo "[buildout]" > $HOME/.buildout/default.cfg
  - echo "download-cache = $HOME/buildout-cache/downloads" >> $HOME/.buildout/default.cfg
  - echo "eggs-directory = $HOME/buildout-cache/eggs" >> $HOME/.buildout/default.cfg
install:
- pip install zc.buildout
- bin/buildout -N -t 3 -c test-$PLONE_VERSION.cfg annotate
- bin/buildout -N -t 3 -c test-$PLONE_VERSION.cfg
script:
- bin/code-analysis
- bin/test
after_success:
- bin/coverage run --source=plone.app.tiles bin/test --layer=\!PloneAppTilesLayer
- bin/coveralls
