[buildout]
package-name = plone.app.tiles
package-extras = [test]
package-min-coverage = 80
parts +=
    createcoverage
    coverage-sh
    code-analysis

[code-analysis]
directory = plone
# E203 Whitespace before ':' (false positives when using black)
# E231 missing whitespace after ',' (conflicts with black)
# E501 line too long
# W503 Line break occurred before a binary operator [outdated]
flake8-ignore = E203,E231,E501,W503

[versions]
# plone.app.tiles is pinned in core, so we must unpin it here.
plone.app.tiles =
# We need a newer plone.namedfile, and depend on it in setup.py.
plone.namedfile = 6.0.0a3
# Newer plone.scale is not strictly needed, but we should test with it.
plone.scale = 4.0.0a1

# Use same zc.buildout and setuptools in all environments.
# Keep in sync with requirements.txt please.
setuptools = 59.6.0
zc.buildout = 3.0.0rc1
