[buildout]
package-name = plone.app.tiles
package-extras = [test]
package-min-coverage = 80
parts +=
    createcoverage
    coverage-sh
    code-analysis
extensions = mr.developer
auto-checkout =
    plone.scale

[remotes]
plone = https://github.com/plone
plone_push = git@github.com:plone

[sources]
# XXX temporary checkout
# https://github.com/plone/plone.scale/pull/65
plone.scale = git ${remotes:plone}/plone.scale.git pushurl=${remotes:plone_push}/plone.scale.git branch=maurits-get-original-value-issue-64

[code-analysis]
directory = plone
# E203 Whitespace before ':' (false positives when using black)
# E231 missing whitespace after ',' (conflicts with black)
# E501 line too long
# W503 Line break occurred before a binary operator [outdated]
flake8-ignore = E203,E231,E501,W503

[versions]
# plone.app.tiles is pinned in core, so we must unpin it here.
plone.app.tiles =

# Use same zc.buildout and setuptools in all environments.
# Keep in sync with requirements.txt please.
setuptools = 59.6.0
zc.buildout = 3.0.0rc1
