[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

[versions]
# We need a newer plone.namedfile, and depend on it in setup.py.
plone.namedfile = 6.0.0b2
# Newer plone.scale is not strictly needed, but we should test with it.
plone.scale = 4.0.0b3
