[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg

package-name = plone.app.tiles
package-extras = [test]
package-min-coverage = 80
parts+=
    createcoverage
    coverage-sh
    code-analysis

[code-analysis]
directory = plone
# E203 Whitespace before ':' (false positives when using black)
# E231 missing whitespace after ',' (conflicts with black)
# E501 line too long
# W503 Line break occurred before a binary operator [outdated]
flake8-ignore = E203,E231,E501,W503

[versions]
# plone.app.tiles is pinned in core, so we must unpin it here.
plone.app.tiles =
setuptools = 41.2.0
zc.buildout = 2.13.3
